body {
    font-family: Arial, sans-serif;
    background-color: #b4031a; /* Rood als achtergrondkleur */
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh; /* Zorgt ervoor dat de pagina de volledige hoogte vult */
    display: flex;
    flex-direction: column;
}

header {
    background-color: #004aad;
    color: white;
    padding: 10px 0;
    text-align: center; /* Zorgt ervoor dat de header tekst in het midden staat */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Zorgt ervoor dat de navigatie links in het midden staan */
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    background: white;
    margin: 20px auto;
    width: 80%;
    border-radius: 5px;
    text-align: left; /* Zorgt ervoor dat de tekst in de sectie links uitgelijnd is */
}

footer {
    background: #004aad;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
}
